.ex-1-square{
  transition: 5s;
}

.ex-1-square:hover{
  background: red;
}

.ex-2-square{
  transition: 5s;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square{
  transition: 5s;
}

.ex-3-square:hover{
  border-radius: 100%;
}

.ex-4-square{
  transition: 5s;
}

.ex-4-square:hover{
  opacity: 0;
}

.ex-5-square{
  transition: 5s;
}

.ex-5-square:hover{
  width: 200px;
  height: 200px;
}

.ex-5-square:active{
  width: 20px;
  height: 20px;
}

.ex-6-img:hover{
  filter: grayscale();
}

.ex-7-img{
  transition: 3s;
}

.ex-7-img:hover{
  filter: grayscale(50%) sepia(50%);
}

.ex-8-img{
  transition: 3s;
}

.ex-8-img:hover{
  filter: grayscale(50%) sepia(50%);
  border-radius: 20px;
}

.ex-9-img{
  transition: 3s;
}

.ex-9-img:hover{
  filter: grayscale(50%) sepia(50%);
  border-radius: 20px;
  transform: scale(1.5);
}

 .ex-10-icon{
  animation-name: ruota;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes ruota {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg); /* 1turn fa un giro*/
  }
}

.ex-11-icon:hover{
  animation: gira 2s linear
}

@keyframes gira {

  0% {transform: rotate(0);}
  /* 10% {transform: rotate(35deg);}
  20% {transform: rotate(70deg);}
  30% {transform: rotate(105deg);}
  40% {transform: rotate(140deg);}
  50% {transform: rotate(175deg);}
  60% {transform: rotate(210deg);}
  70% {transform: rotate(245deg);}
  80% {transform: rotate(280deg);} */
  90% {transform: rotate(315deg);}
  100% {transform: rotate(0);}

}

.ex-12-button:hover .ex-12-top-white{
  animation: top 2s linear;
}

@keyframes top {
  0% {left: 10%;}
  50% {left: 65%;}
  100% {left: 10%;}
}

.ex-12-button:hover .ex-12-bottom-white{
  animation: bottom 2s linear;
}

@keyframes bottom {
  0% {right: 10%;}
  50% {right: 65%;}
  100% {right: 10%;}
}
